/* START ALL BODY */
*{
    color: #272727;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 10000;
}
/* END ALL BODY */


/* START ALL SECTION */
section{
    margin: 50px 0px;
}
/* END ALL SECTION */





/* START ALL HEADER STYLE SECTION*/
.header-about h4, .header-skill h4, .header-portfolio h4, .header-contact h4{
    padding: 0 10px 10px;
}
/* END ALL HEADER STYLE SECTION*/


/* START HERO */
section:first-child{
    background-image: url(img/rectangle-pattern.jpg);
    background-size: cover;
}

.hero-image{
    border: 10px solid #272727;
}

section .name{
    margin-top: 20px;
}
/* END HERO */


/* START ABOUT */
.about .row:last-child{
    text-align: justify;
}

/* START ABOUT-EDUCATION */
.card-title{
    font-size: 2.5vw;
}
/* END ABOUT-EDUCATION */

/* END ABOUT */


/* START SKILLS */
.card{
    margin: 5px;
}

.owl-carousel .card-footer span{
    font-size: 0.7rem;
}

/* END SKILLS */


/* START PORTFOLIO */
.item-portf{
    padding: 0px 0px 20px;
}

    /* START OVERLAY */
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s;
}

.overlay:hover{
    opacity: 1;
}

    /* END OVERLAY */

.image-desc{
    font-size: 100%;
}
/* END PORTFOLIO */


/* START CONTACT */

a .bi{
    padding: 7px 10px 5px;
    font-size: 2rem;
    transition: all .3s;
    box-shadow: 5px 5px 5px #e0e0e0,
                -6px -6px 5px #ffffff;
}

.bi:active{
    color: #666;
    box-shadow: inset 4px 4px 12px #e0e0e0,
                inset -4px -4px 12px #ffffff;
}

.bi span{
    padding: 10px;
    font-size: 20px;
}


    /* START BUTTON SEND-EMAIL */
    button.button-send {
        width: 100%;
        color: #090909;
        padding: 0.7em 1.7em;
        font-size: 1rem;
        border-radius: 0.5em;
        border: none;
        transition: all .3s;
        box-shadow: 5px 5px 5px #e0e0e0,
                    -6px -6px 5px #ffffff;
    }
    
    button.button-send:active {
        color: #666;
        box-shadow: inset 4px 4px 12px #e0e0e0,
                    inset -4px -4px 12px #ffffff;
    }
    /* END BUTTON SEND-EMAIL */

/* END CONTACT */



/* START RESPONSIVE */
/* Small devices (landscape phones, 576px and up) */

/* medium devices (tablet) */
@media (max-width: 425px) {
    *{
        font-size: 0.8rem;
    }
    .owl-carousel .card-footer{
        padding: 0;
    }
    a .bi{
        font-size: 2em;
    }
    .hero-image{
        width: 10rem;
        border: 5px solid #272727;
    }
}

@media (min-width: 768px) {
    /* START DIV HERO, ABOUT, PORTFOLIO, CONTACT */
    section .hero, section .about, section .skill, section .portfolio, section .contact{
        margin: 50px 0px;
        padding: 0px 50px;
    }
    /* END UNI HERO, ABOUT, PORTFOLIO, CONTACT */
    .separator{
        display: none;
    }
    .about-content-desc{
        background-color: rgba(245, 245, 245, 0.5);
        border-radius: 20px;
    }
    .owl-carousel .card-footer span{
        font-size: 1rem;
    }
    .card-title{
        font-size: 1vw;
    }
    a .bi{
        font-size: 2rem;
    }
}